* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* NAVIGATION */

header {
  display: flex;
  justify-content: center;
  height: 9rem;
  position: relative;
}

.nav {
  margin-top: 1rem;
  display: flex;
  width: 80vw;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #333;
  border-top: none;
  animation: showNav 0.6s linear;
}

.nav_logo {
  font-size: 4rem;
}

.shoping_cart {
  width: 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.shoping_cart span {
  font-size: 1.5rem;
  padding: 0 1rem;
}

@keyframes showNav {
  0% {
    transform: translateY(-20rem);
  }
  100% {
    transform: translateY(0);
  }
}

.cart {
  background-color: #fff;
  position: absolute;
  z-index: -2;
  height: 20rem;
  width: 80vw;
  top: 9rem;
  display: flex;
  border: 2px solid #333;
  border-top: none;
  transition: all 0.5s ease;
  transform: translateY(-50px);
  opacity: 0;
}

.ordered {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  overflow: auto;
  border-right: 2px solid #333;
}

.order_form {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.order_form div {
  font-size: 2rem;
}

.order_form button {
  width: 15rem;
  height: 5rem;
  border: 2px solid #333;
  border-top: none;
  background-color: transparent;
  cursor: pointer;
}

.ordered_book {
  display: flex;
  margin-left: 5rem;
  width: 30rem;
  border: 2px solid #333;
  border-left: none;
  border-bottom: none;
}
.ordered_book img {
  height: 15rem;
  width: 15rem;
}
.ordered_book div {
  width: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
}

.ordered_book h3 {
  font-size: 1.5rem;
}

.ordered_book p {
  font-size: 1.5rem;
}
.ordered_book button {
  font-size: 1.5rem;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #333;
  border-top: none;
  width: 10rem;
  transition: 0.4s all ease;
}
.ordered_book button:hover {
  color: #fff;
  background-color: #333;
}

.buy_form {
  width: 80rem;
  height: 50rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #fff;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #333;
}

.buy_form button {
  height: 10rem;
  width: 40rem;
  font-size: 4rem;
  border: 2px solid #333;
  border-top: none;
  cursor: pointer;
}

.buy_form input {
  color: #000;
  width: 40rem;
  height: 4rem;
  outline: none;
  background-color: #fff;
  border: 2px solid #333;
  border-top: none;
  padding: 0 3rem;
  font-size: 2rem;
  font-style: oblique;
}

.buy_form p {
  font-size: 2rem;
}

.close {
  position: absolute;
  top: 3rem;
  right: 5rem;
  cursor: pointer;
}

.close div {
  height: 1rem;
  width: 5rem;
  background-color: #000;
  margin: 2rem 0;
}

.close div:nth-child(1) {
  transform: rotate(136deg) translateY(-20.5px);
}
.close div:nth-child(2) {
  transform: rotate(-136deg) translateY(20.5px);
}

/* HERO */

.hero {
  padding: 5rem 10rem;
}

.content_container {
  background-color: #fff;
  height: 60rem;
  border: 2px solid #333;
  overflow: hidden;
  display: flex;
}

.content_container::-webkit-scrollbar {
  background-color: #ff63f9;
}

.content_container::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
}

.main {
  color: #f2f2f2;
  height: 60rem;
  width: 100%;
  position: relative;
}

.search_books_form {
  background: #fff;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  border-bottom: 2px solid #333;
}

.search_books_form h2 {
  color: #000;
  font-size: 2.5rem;
  padding-left: 3rem;
}
.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_input {
  color: #000;
  width: 40rem;
  height: 4rem;
  outline: none;
  background-color: #fff;
  border: 2px solid #333;
  border-top: none;
  padding: 0 3rem;
  font-size: 2rem;
  font-style: oblique;
}
.search_input::placeholder {
  color: #000;
  opacity: 0.5;
}

.search_btn {
  transform: translateX(-40px);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border: none;
  border-left: 2px solid #333;
  background-color: transparent;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_btn img {
  width: 3rem;
  height: 2rem;
}

.books {
  margin: 10rem 5rem 0 5rem;
  background-color: #fff;
  border: 2px solid #333;
  border-bottom: none;
  height: 48rem;
  min-width: 20rem;
  overflow: auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 5rem;
  padding-bottom: 0;
}
.books::-webkit-scrollbar {
  background-color: #000000;
}

.books::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
}
.book {
  height: 35rem;
  color: #000;
  width: 22rem;
  margin: 3rem 3.4rem;
  border: 2px solid #fff;
  text-align: center;
  transition: 0.3s all ease-out;
}
.book:hover {
  transform: scale(1.1);
}
.book img {
  height: 25rem;
  width: 100%;
}
.book h3 {
  height: 5rem;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  word-break: break-word;
}
.book p {
  font-size: 1.2rem;
  padding: 0.5rem;
}
.book button {
  font-size: 2rem;
  height: 5rem;
  width: 100%;
  border: 2px solid #333;
  border-top: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.book button:hover {
  color: #f2f2f2;
  background-color: #333;
}

/* CONTENT MANIPULATION CLASSES */

.show_cart {
  opacity: 1;
  transform: translateY(0);
  z-index: 2;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1300px) {
  .books {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }
}
@media screen and (max-width: 900px) {
  .hero {
    padding: 3rem;
  }
  .search_books_form h2 {
    font-size: 2rem;
  }
  .search_input {
    width: 20rem;
  }
  .content_container {
    min-width: 40rem;
  }
  .books {
    grid-template-columns: repeat(1, 1fr);
    min-width: 30rem;
  }
  .main {
    min-width: 40rem;
  }
}
